<body>
    <h1>Article Title</h1>


    <ul id="uneaten-Burgers">
        <h4>Comments</h4>
        {{#each dbComment}}
        <li>
            <a>{{text}}</a>
        </li>

        {{/each}}
    </ul>
</body>