<h1>Welcome to favorites page</h1>

<button class="goToHomePage">Back to main page</button>


<ul>
    <h4>Favorite Articles</h4>
    {{#each dbArticle}}
    <li>
        <a href={{link}}>{{title}}</a> <button class="commentButton" data-value={{id}}>Comment</button> <button
            class="deleteButton" data-value={{id}}>Delete</button>
    </li>

    {{/each}}
</ul>

<script src="index.js"></script>