<body>
    <h1>Saved Articles</h1>

    </form>
    <ul>
        <h4>Saved Articles</h4>
        {{#each articlePageObject.array}}
        <li>
            <a>{{text}}</a>
        </li>

        {{/each}}
    </ul>


    <script src="index.js"></script>
</body>